body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #414141;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 2rem;
}
.section-top{
    margin: auto;
    width:600px;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1rem;
    text-align: center;
}

th {
    background-color: #3d3d3d;
    color: white;
}
