body {
    font-family: Arial;
    color: #333;
    background-color: cornflowerblue;
    padding: 20px 0;
}

main {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
}

header, footer {
    background-color: rgb(31, 151, 20);
    text-align: center;
}

nav {
    background-color: lightgoldenrodyellow;
}

nav li {
    list-style-type: none;
    width: 200px;
    margin: auto;
}

nav ul li a {
    display: block;
    text-align: center;
    background-color: lightpink;
    padding: 10px;
    text-decoration: none;
    color:navy;
    font-weight: bold;
    border-bottom: 2px solid navy;
}


footer {
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 20px;
    color: white;
}

p {
    line-height: 1.5em;
}